@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;

}

body {
  scroll-behavior: smooth;

}
a:active,button:active {
  opacity: 0.7;
}
.nav {
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 9999;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
  
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 16px 13px 16px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

/* Header Grid */
.headerMainGrid {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: 1fr;
  gap:1rem
  }

/* Android */
@media (max-width:600px) {

  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 0px;
    
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: #068DA9;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 70px;
    left: 0px;
    z-index: 999;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
    padding: 12px;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }

  .headerMainGrid {
    grid-template-columns: repeat(3, 30%) !important;
  }

  .Products_Grid{
    display: grid;
      grid-template-columns: repeat(auto-fit, 100%) !important;
      grid-template-rows: repeat(auto, 1fr);
      gap:1rem;
      padding: 10px;
  }
 
  .ImageProduct {
    filter: none !important;
  }

}




/* Estimasi Tablet */
@media (max-width:1023px) and (min-width:601px) {
  .headerMainGrid {
    grid-template-columns: repeat(3, 30%);
  }
  .Products_Grid{
    display: grid;
      grid-template-columns: repeat(2, 45%) !important;
      grid-template-rows: repeat(auto, 1fr);
      gap:1rem;
      padding: 0px !important;
  }
}


/* Iphone */
@media  (max-width:411px) {
  .hero {
      padding: 2rem 2.5rem;
  }   
  .hero h1 {
    font-size: 40px;
  }
  .hero button {
    padding: 16px 16px;
  }
  .Category_Search {
    flex-direction: column-reverse;
  }
  .CategoryIcon {
    width: 100%;
  }
  .ImageProduct {
    filter: none !important;
  }

}


/* Grid Product Card */
.Products_Grid{
  display: grid;
    grid-template-columns: repeat(4, 24%);
    grid-template-rows: repeat(2, 1fr);
    gap:1.5rem;
}


/* shadow drop */
.ImageProduct {
  filter: drop-shadow(2px 50px 30px rgba(0,0,0,0.2));
}

.swiper-scrollbar-drag {
  background-color: #068DA9 !important;
  position: absolute !important;
  top:-4px !important;
  height: 13px !important;
  border-radius: 0px !important;


}

.swiper-scrollbar {
  height: 6px !important;
  position: relative !important;
  border-radius: 0px !important;
}


/* Admin Register Login*/
.form2 {
  max-width: 700px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
  display: grid;
}

.form2 h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

.form2 input[type="text"],
.form2 input[type="password"],
.form2 input[type="date"],
.form2 input[type="datetime"],
.form2 input[type="email"],
.form2 input[type="number"],
.form2 input[type="search"],
.form2 input[type="tel"],
.form2 input[type="time"],
.form2 input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

.btnSubmit {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #068DA9;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #068DA9;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #068DA9;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}


/* tooltip */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.tooltip .tooltiptext {
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}



/* Loading  */

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #068DA9;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #068DA9 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
