@tailwind base;
@tailwind components;
@tailwind utilities;

.nav {
  height: 80px;
  width: 100%;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
  
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 16px 13px 16px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {

  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 0px;
    
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: #068DA9;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 70px;
    left: 0px;
    z-index: 999;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
    padding: 12px;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}


/* Header Grid */
.headerMainGrid {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap:1rem
  }

@media (max-width:1023px) {
  .headerMainGrid {
    grid-template-columns: repeat(3, 30%);
  }
}


/* IconMobile SVG */
cls-1,.cls-3{fill:none;stroke:#020202;stroke-miterlimit:10;stroke-width:1.91px;}.cls-2{fill:#020202;}.cls-3{stroke-linecap:round;}


/* Iphone */
@media  (max-width:411px) {
  .hero {
      padding: 2rem 2.5rem;
  }   
  .hero h1 {
    font-size: 40px;
  }
  .hero button {
    padding: 16px 16px;
  }
}